__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
Makefile
venv/
.venv/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pre-commit-config.yaml
pyproject.toml
data/
logs/
notebooks/
models/*.pkl
models/*.onnx
docs/
reports/
presentation/
*.db
*.sqlite
dbt_modules/
dbt_packages/
target/
